.cart-icon {
  width: 40px;
  height: 40px;
}

.log-in {
  width: 64px;
  height: 40px;
}

.footer-info {
  max-width: 396px;
}

.footer-contact {
  max-width: 330px;

}

.footer-icons {
  max-width: 160px;
}

.text-copyRight {
  font-size: 12px;
}
